# Database
DATABASE_URL=postgresql://decormarket_user:password@localhost:5432/decormarket

# Telegram
BOT_TOKEN=8260197750:AAGGBhVF2MePy9foJ8G7TgA791e9kbgxOiE
ADMIN_CHAT_ID=7987200974

# Server
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000